* {
    margin: 0%;
    padding: 0%;
    border: 0ch;
}

header {
    background-color: black;
    color: whitesmoke;
    width: 100%;
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    text-decoration: none;
    justify-content: center;
    background-color: rgb(88, 87, 87);
    color: white;
    
}
nav ul {
    list-style: none;
    margin: 1em;
}
nav ul li {
    list-style: none;
    color:whitesmoke;
    text-decoration: none;
}
nav ul li a {
    list-style: none;
   color:whitesmoke;
    text-decoration: none;
}

a :hover, focus{
background-color: black;
}



article{
    display: flex;
   
}
article figure {
    margin: 3vh;
    height: 10vh;
}
article figure img{
    
    height: 30vh;
}
article h3 {
    display: flex;
    justify-content: center;
}
article p{
    margin: 1em;
    font-size: x-large;
}

h2{
    padding: 2vh;
    display: flex;
    justify-content: center;
}